{{page-title "Meghnadh72"}}

{{!-- The following component displays Ember's default welcome message. --}}
{{!-- <WelcomePage /> --}}
{{!-- Feel free to remove this! --}}

<h1> HomePage</h1>
{{outlet}}